$mobile: 600px;
$tablet: 900px;

* {
  font-family: 'Helvetica', sans-serif;
  background-color: #fff0f8;
}

// * Nav

nav {
  display: flex;
  align-items: center;
  margin: 20px 20px 0px;
  a, p {
    color: blue;
    text-decoration: none;
    font-size: 15px;
  }
  @media screen and (max-width:$mobile) {
    border-bottom: 1px solid blue;
    padding: 10px 0px 20px;
    margin: 0px 10px 20px;
  }
}

#nav-name {
  display: flex;
  flex: 1;
}

#nav-about {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

#job-title {
  @media screen and (max-width:$mobile) {
    display: none;
  }
}

// * Home

.home {
  display: flex;
  margin: 10px 0px 0px;
  justify-content: center;
  @media screen and (max-width:$tablet) {
    flex-direction: column;
  }
}

.project-info {
  display: flex;
  flex: 1;
  margin: 0px 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  a, p {
    font-size: 15px;
    color: blue;
  }
  @media screen and (max-width:$tablet) {
    display: none;
  }
}

.featured-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 20px;
}

.butterfly {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  p {
    font-size: 100px;
  }
  img {
    width: 100px;
  }
  @media screen and (max-width:$tablet) {
    display: none;
  }
}

.link {
  display: none;
  @media screen and (max-width:$tablet) {
    display: block;
    text-align: center;
    margin: 0px 0px 15px 0px;
    a {
      color: blue;
      font-size: 15px;
    }
  }
  @media screen and (max-width:$mobile) {
    margin: 10px 0px 0px 0px;
  }
}

.video-primary-homepage {
  video {
  border-right: 1px solid blue;
  border-left: 1px solid blue;
  border-bottom: 1px solid blue;
  width: 800px;
  @media screen and (max-width:$tablet) {
    width: 700px;
  }
  @media screen and (max-width:$mobile) {
    width: 350px;
    border: none;
    margin: 20px 0px 0px;
  }
  }
}

.web-display-bar {
  height: 30px;
  border: 1px solid blue;
  background-color: white;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width:$tablet) {
    width: 700px;
  }
  @media screen and (max-width:$mobile) {
    display: none;
  }
}

.dots-display {
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 25px;
  margin: 0px 3px;
}

.dots-display-hidden {
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 25px;
  margin: 0px 3px;
  visibility: hidden;
}

.web-display-controls {
  display: flex;
  margin: 0px 5px;
  background-color: white;
}

.website-bar {
  border: 1px solid blue;
  background-color: white;
}

.website-bar p {
  font-size: 11px;
  margin: 4px 100px;
  color: blue;
  background-color: white;
}

// * Show Page

.show {
  margin: 30px 0px 0px;
  @media screen and (max-width:$tablet) {
    margin: 10px 0px 0px;
  }
}

.project-show-info {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 15px;
    margin: 10px;
    color: rgb(0, 0, 255);
  }
}

#primary-description {
  width: 50%;
  text-align: center;
  margin: 20px 0px;
  @media screen and (max-width:$tablet) {
    width: 80%;
  }
  @media screen and (max-width:$mobile) {
    width: 95%;
  }
}

#project-name-hidden {
  @media screen and (max-width:$tablet) {
    display: none;
  }
}

#project-name-visible {
  @media screen and (max-width:$tablet) {
    text-align: center;
    font-size: 15px;
    color: blue;
    margin: 0px 0px 30px 0px;
  }
  @media screen and (max-width:$mobile) {
    margin: 30px 0px 20px 0px;
  }
}

//  * About Page

.about-para {
  width: 40%;
  margin: 20px 0px 0px 20px;
  font-size: 14px;
  color: blue;
  a {
    color: blue;
  }
  @media screen and (max-width:$tablet) {
    width: 70%;
  }
  @media screen and (max-width:$mobile) {
    width: 90%;
    margin: 0px 20px;
  }
}

.skills {
  display: flex;
  padding: 0px 15px 0px 0px;
  @media screen and (max-width:$mobile) {
    display: none;
  }
}

#skills {
  @media screen and (max-width:$mobile) {
    display: none;
  }
}

.skills-div {
  margin: 0px 30px 0px 0px;
  p {
    margin: 2px;
  }
}

.about-page {
  display: flex;
}

#contact {
  @media screen and (max-width:$mobile) {
    margin: 0px 0px 10px;
  }
}